{% extends 'halls/base.html' %}

{% block content %}
<h2>Add Video to {{ hall.title }}</h2>
<div class="container">

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load widget_tweaks %}

    {% for field in form %}
    <div class="form-group {% if field.errors %} alert alert-dnager {% endif %}">
      {{ field.errors }}
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
    </div>
    {% endfor %}

    <button type="submit" value="Add Video" class="btn btn-primary">
      Add
    </button>
  </form>

  <br>

  <h2>OR</h2>
  <form>
    {% for field in search_form %}
    <div class="form-group">
      {{ field.errors }}
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
    </div>
    {% endfor %}
  </form>

  <div id="search_results"></div>
  <script>
    var delayTimer;

    $('#id_search_term').keyup(function(){
	clearTimeout(delayTimer);
	$('#search_results').text('Loading ... ');
	delayTimer = setTimeout(function(){
	    var text = $('#id_search_term').val();
	    $.ajax({
		url : '/hall/searchvideo/',
		data : { 'search_term' : text },
		dataType : 'json',
		success : function(data){
		    console.log(data)
		    status = data["status"];
		    if (status == 'OK'){
			results = '';
			data['srv_msg'].forEach(function(record){
			    results += '<p>' + record + '</p>';
			});
			$('#search_results').append(results);
		    }else{
			alert('Server has invalidated the user input.')
		    }
		}
	    });
	}, 800);
    });

  </script>
</div>
{% endblock %}
